<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.0.0-rc.1/dist/bootstrap-vue.css" />
	
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.1/dist/bootstrap-vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script src="labels/en/register.js"></script>
    <script src="labels/es/register.js"></script>
	
  </head>
  <body>
    <div id="app">
      <top-menu selected="register"></top-menu>
      <h1>{{ $t("modules.register") }}</h1>
      <div class="container">
      <b-form @submit="onSubmit" novalidate class="needs-validation">
        <!-- Nombre -->
        <b-form-group id="nameGroup"
                      :label="$t('register.name.label')"
                      label-for="nameInput">
          <b-form-input id="nameInput"
                        type="text"
                        v-model.trim="form.name"
						:state="nameState"
                        required
                        :placeholder="$t('register.name.hint')">
          </b-form-input>
		  <b-form-invalid-feedback>
            {{ $t(nameMessage, { min:2, max: 50}) }}
          </b-form-invalid-feedback>
        </b-form-group>
        <!-- Apellidos -->
        <b-form-group id="lastNameGroup"
                      :label="$t('register.lastName.label')"
                      label-for="lastNameInput">
          <b-form-input id="lastNameInput"
                        type="text"
                        v-model.trim="form.lastName"
						:state="lastNameState"
                        :placeholder="$t('register.lastName.hint')">
          </b-form-input>
		  <b-form-invalid-feedback>
            {{ $t(lastNameMessage, { min:2, max: 50}) }}
          </b-form-invalid-feedback>
        </b-form-group>
        <!-- Tipo de viaje -->
        <b-form-group id="tripTypeGroup"
                      :label="$t('register.tripType.label')"
                      label-for="tripTypeInput">
          <b-form-radio-group id="tripTypeInput"
                              v-model="form.tripType"
                              name="tripTypeName">
            <b-form-radio v-for="item in tripTypes" :key="item.value"
            			  :id="item.value"
						  :value="item.value">
				{{ $t(item.label) }}
			</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
        <b-form-group id="dateGroup"
                      :label="$t('register.travelDate.label')">
          <!-- Fecha salida -->
          <b-form-group id="departureGroup"
                        :label="$t('register.travelDate.departure')"
                        label-for="departureInput">
            <b-form-input id="departureInput"
                          type="date"
                          required
                          :state="departureState"
                          v-model="form.departure">
            </b-form-input>
		    <b-form-invalid-feedback>
              {{ $t("register.errors.travelDate.departure") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <!-- Fecha regreso -->
          <b-form-group id="arrivalGroup"
                      :label="$t('register.travelDate.arrival')"
                      label-for="arrivalInput">
            <b-form-input id="arrivalInput"
                          type="date"
                          v-model="form.arrival"
                          :state="arrivalState"
						  :disabled="arrivalDisabled">
            </b-form-input>
		    <b-form-invalid-feedback>
              {{ $t("register.errors.travelDate.arrival") }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-form-group>
        <!-- Número pasajeros -->
        <b-form-group id="familySizeGroup"
                      :label="$t('register.familySize.label')"
                      label-for="familySizeInput">
          <b-form-input id="familySizeInput"
                        type="number"
                        v-model="form.familySize"
						:state="familySizeState"
						min="0"
						max="31"
						:placeholder="$t('register.familySize.hint')">
          </b-form-input>
		  <b-form-invalid-feedback>
            {{ $t("register.errors.familySize.range", {min: "0", max: "31"}) }}
          </b-form-invalid-feedback>
        </b-form-group>
        <!-- Tipo de pasajero -->
        <b-form-group id="passengerTypeGroup"
                      :label="$t('register.passengerType.label')"
                      label-for="passengerTypeInput">
          <b-form-select id="passengerTypeInput"
                        required
						state="form.passengerType != null"
                        v-model="form.passengerType">
          	<option v-for="item in passengerTypes"
                    :key="item.value"
                    :value="item.value">
            	{{ $t(item.label) }}
            </option>
          </b-form-select>
        </b-form-group>
        <!-- Servicios adicionales -->
        <b-form-group id="servicesGroup"
                      :label="$t('register.services.label')"
                      label-for="servicesInput">
          <b-form-checkbox-group id="servicesInput"
                                v-model="form.services"
								v-for="item in serviceTypes"
								:key="item.value">
			<b-form-checkbox :value="item.value">{{ $t(item.label) }}</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
        <b-button type="button" variant="secondary" @click="quickFill">{{ $t("register.button.fill") }}</b-button>
        <b-button type="button" variant="danger" @click="clearForm">{{ $t("register.button.clear") }}</b-button>
        <b-button type="submit" variant="primary" :disabled="disableSubmit">{{ $t("register.button.submit") }}</b-button>
      </b-form>
      
      <b-modal ref="myModalRef" hide-footer :title="$t('register.modal.title')" no-close-on-backdrop no-close-on-esc>
	    <div class="d-block text-center">
	      <b-progress height="2rem">
	      	<b-progress-bar :value="100" :animated="bar.animated" :label="$t(bar.label)" :variant="bar.animated ? 'info' : bar.error ? 'danger' : 'success'">
	      	</b-progress-bar>
	      </b-progress>
	      <p>{{ modalText }}</p>
	      <p v-html="errorMessage"></p>
	    </div>
	    <b-btn class="mt-3" variant="outline-danger" block @click="hideModal">{{ $t("register.modal.close") }}</b-btn>
	  </b-modal>
    </div>
    </div>
    <script src="scripts/alta.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>
