<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.0.0-rc.1/dist/bootstrap-vue.css" />
    <!--
    <link type="text/css" rel="stylesheet" href="include/css/bootstrap.min.4.0.0.css" />
    <link type="text/css" rel="stylesheet" href="include/css/bootstrap-vue.2.0.0-rc.1.css" />
	-->
	
    <!--<script src="include/js/vue.dev.2.5.13.js"></script>-->
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <!--
	<script src="include/js/polyfill.min.6.26.0.js"></script>
    <script src="include/js/bootstrap-vue.2.0.0-rc.1.js"></script>
	<script src="include/js/axios.min.js"></script>
    -->
    <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.1/dist/bootstrap-vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    
  </head>
  <body>
    <div id="app">
      <top-menu selected="stats"></top-menu>
      <h1>{{ $t("modules.stats") }}</h1>
      <div class="container">
	      <b-form>
	        <b-button v-on:click="showGraph('line')" variant="primary">{{$t("line")}}</b-button>
	        <b-button v-on:click="showGraph('pie')" variant="primary">{{$t("pie")}}</b-button>
	        <b-button v-on:click="showGraph('bar')" variant="primary">{{$t("bar")}}</b-button>
	      </b-form>
		  <line-chart v-if="chart === 'line'"></line-chart>
		  <pie-chart v-if="chart === 'pie'"></pie-chart>
		  <bar-chart v-if="chart === 'bar'"></bar-chart>
      </div>
    </div>
    <!-- <script src="include/js/App.vue" type="module"></script> -->
    <script src="estadisticas.js"></script>
    <script src="app.js"></script>
  </body>
</html>
