<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.0.0-rc.1/dist/bootstrap-vue.css" />
    <!--
    <link type="text/css" rel="stylesheet" href="include/css/bootstrap.min.4.0.0.css" />
    <link type="text/css" rel="stylesheet" href="include/css/bootstrap-vue.2.0.0-rc.1.css" />
	-->
	
    <!--<script src="include/js/vue.dev.2.5.13.js"></script>-->
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <!--
	<script src="include/js/polyfill.min.6.26.0.js"></script>
    <script src="include/js/bootstrap-vue.2.0.0-rc.1.js"></script>
	<script src="include/js/axios.min.js"></script>
    -->
    <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.1/dist/bootstrap-vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <top-menu selected="peticion"></top-menu>
      <h1>PETICIÓN REST</h1>
      <div class="container">
      <b-form>
        <!-- Nombre -->
        <b-form-group id="domainGroup"
                      label="Nombre de dominio"
                      label-for="domainInput">
          <b-form-input id="domainInput"
                        type="text"
                        v-model="form.domain"
                        required
                        placeholder="Ingrese el nombre de dominio">
          </b-form-input>
        </b-form-group>
        <b-button v-on:click="onSubmitDomain" variant="primary">Enviar</b-button>
        <b-card v-if="apiresponse">
          <p class="card-text">{{ apiresponse }}</p>
        </b-card>
      </b-form>
    </div>
    </div>
    <!-- <script src="include/js/App.vue" type="module"></script> -->
    <script src="app.js"></script>
  </body>
</html>
